# Imports

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

# Extração de Dados

In [2]:
dados_lista = []
for material in os.listdir()[1:]:
    if os.path.isdir(material):
        if not material == 'Ensaios PP':
            for direcao in os.listdir(material+'/'):
                path = '/'.join([material,direcao])+'/'
                if os.path.isdir(path):
                    for ensaio in os.listdir(path):
                        if ensaio.split('_')[0] == 'Specimen':
                            df = pd.read_csv('/'.join([material,direcao,ensaio]))
                            df['Tensile stress'] = df['Tensile stress'][1:].astype(float)
                            extension = df['Extension'][1:].astype(float).max()
                            load = df['Load'][1:].astype(float).max()
                            strain = df['Tensile strain'][1:].astype(float).max()
                            stress = df['Tensile stress'][1:].astype(float).max()
                            orient = direcao.split('_')[6].split('.')[0][:2]
                            dados_lista.append((extension,load,strain,stress,orient))

In [3]:
def renomear_colunas(x):
    if x == '45':
        return 0
    elif x == 'XY':
        return 1
    elif x == 'YX':
        return 2
    elif x == 'XZ':
        return 3
    elif x == 'ZY':
        return 4
    elif x == 'YZ':
        return 5
    elif x == 'ZX':
        return 6

In [4]:
dados = pd.DataFrame(dados_lista)
dados.columns = ["Extensao_max","Carga_max","Tensao_max","Estresse_max","Direcao"]
dados['Direcao_id'] = dados['Direcao'].apply(renomear_colunas)
dados['Direcao_id'] = dados['Direcao_id'].astype(int)
dados

    Extensao_max  Carga_max  Tensao_max  Estresse_max Direcao  Direcao_id
0        4.65898  785.32947    14.42756      38.01877      45           0
1        5.88502  784.43391    19.27230      37.92669      45           0
2        4.36302  788.95045    14.93217      38.37291      45           0
3        4.42592  783.99032    13.46811      37.81741      45           0
4        6.14492  778.48942    20.31382      37.76369      45           0
..           ...        ...         ...           ...     ...         ...
66      10.24367  884.72124    37.43294      42.75875      45           0
67      12.03222  854.20022    44.53442      43.40448      45           0
68      11.21615  849.75120    41.21476      42.51647      45           0
69      11.77560  856.61104    43.53981      42.85970      45           0
70      10.95511  895.45138    40.22597      42.13770      45           0

[71 rows x 6 columns]

In [5]:
dados=dados.drop(6,axis=0)

## Exportar

In [6]:
dados.to_csv('Dados.csv')